[Unit]
Description=Runner for My Phoenix App
After=network.target

[Service]
WorkingDirectory=/home/pi/hello
EnvironmentFile=/etc/default/hello.env
ExecStart=/home/pi/hello/bin/hello start
ExecStop=/home/pi/hello/bin/hello stop
User=pi
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
