Välkommen på söndagsmys.

<p>Närvarande:

<ol>
  <%= for name <- Map.keys(@present) do %>
    <%= if Map.get(@present, name) == :pong do %>
      <li><%= name %>
    <% end %>
  <% end %>
</ol>

<pre>
  <%= :os.cmd('cat /proc/cpuinfo') |> List.to_string %>
</pre>

<h2>Gurka</h2>
<p><%= Application.get_env(:hello, :gurka) %>
