<pre id="elm"></pre>
<script src="/js/elm.js"></script>
<script>
      var app = Elm.Main.init({
        node: document.getElementById("elm")
      });
</script>

<hr/>
<p><%= Hello.version() %>/<%= System.version() %>/<%= :erlang.system_info(:otp_release) %></p>
