Välkommen på söndagsmys.

<p>Närvarande:

<ol>
  <%= for name <- Map.keys(@present) do %>
    <%= if Map.get(@present, name) == :pong do %>
      <li><%= name %>
    <% end %>
  <% end %>
</ol>

<h2><%= Application.get_env(:hello, :gurka) %></h2>

<h2>Version</h2>

<p>App version: <%= Hello.version() %></p>
<p>Elixir version: <%= System.version() %></p>
<p>Erlang version: <%= :erlang.system_info(:otp_release) %></p>
